<body>

    <header>
        <div class="container-logo-izquierda">
            <div class="logo">
                <img src="../assets/image/logo1.png">
            </div>
        </div>
        <div class="container-cineclub">
            <h1>CINECLUB</h1>
        </div>
        <div class="container-logo-derecha">
            <div class="tmdb">
                <img src="../assets//image/tmdb.svg">
            </div>
        </div>
    </header>

    <div class="navegador">
        <app-navegador></app-navegador>
    </div>


    <div class="wrapper">
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer>
        <span>© 2022 - A2A2 Equipo de desarrollo</span>
        <div class="a2a2">
            <img src="../assets//image/a2a2_2.png">
        </div>
    </footer>

</body>