<div class="container">

    <div class="titulo">
        <h3>PANEL CONTROL</h3>
    </div>
    <hr>

    <div class="row">

        <div class="col-3 mb-3">

            <div class="botones d-flex flex-column ">

                <button class="btn btn-info mb-3" routerLinkActive="activo" [routerLink]="['configuracion']"><i class="bi bi-person-circle"></i> CONFIGURACION</button>

                <button class="btn btn-info mb-3" routerLinkActive="activo" [routerLink]="['mensajesrecibidos']"><i class="bi bi-envelope"></i> MENSAJES RECIBIDOS</button>

                <button class="btn btn-info mb-3" routerLinkActive="activo" [routerLink]="['mensajesenviados']"><i class="bi bi-reply-all"></i> MENSAJES ENVIADOS</button>

                <button class="btn btn-info mb-3" routerLinkActive="activo" [routerLink]="['posts']"><i class="bi bi-chat-left-text"></i> POSTS</button>

                <button *ngIf="admin" class="btn btn-outline-success mb-3" routerLinkActive="activo" [routerLink]="['buscador']"><i class="bi bi-search"></i> BUSQUEDA PELICULA</button>

                <button *ngIf="admin" class="btn btn-outline-danger mb-3" routerLinkActive="activo" [routerLink]="['adminusers']"><i class="bi bi-search"></i> ADMINISTRAR USUARIOS</button>
            </div>

            <div *ngIf="imagen" class="imagen">
                <div class="imagen-avatar" [ngStyle]="{
        backgroundImage: 'url('+imgUrl+imagen+')',    
        backgroundSize: 'cover',
        backgroundPosition: 'center',                
        borderRadius: '50%',
        border: '5px solid lightgray'}">
                </div>
            </div>

        </div>

        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>