@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;700&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif; */

*{
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    text-align: center;   
}

.activo {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
}

.imagen{    
    width: 225px;   
  }

.imagen-avatar{   
    height: 225px;
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .btn{
        font-size:x-small;
        }

    .imagen{    
        width: 165px;   
     }
        
    .imagen-avatar{       
        height: 165px;
    }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
    .btn{
        font-size:x-small;
    }
    .imagen{    
        width: 125px;   
     }
        
    .imagen-avatar{       
        height: 125px;
    }

}

/* Teléfonos */
@media only screen and (min-width: 530px) and (max-width: 575px){
    .btn{
        font-size:x-small;
    }
    .imagen{    
        width: 100px;   
     }
        
    .imagen-avatar{       
        height: 100px;
    }

}

@media only screen and (max-width: 529px) {
    .btn{
        font-size:6px;
    }
    .imagen{    
        width: 75px;   
     }
        
    .imagen-avatar{       
        height: 75px;
    }

}
  